@page "/battle"
@page "/battle/{id:int}"
@inject IHamsterService _hamster
@inject IBattleService _battle
@inject NavigationManager _nav

<PageTitle>Battle</PageTitle>
@if (Id != null)
{
    <div class="gallery-top">
        <h2>Result:</h2>
    </div>
    <div class="battle-container">
        @foreach (var hamster in _battle.Fighters)
        {
            <div class="hamster-item">
                <img src="@hamster.ImgName" alt="@hamster.HamsterName" class="hamster-img">
                <h3>@hamster.WinStatus</h3>
                <p>@hamster.HamsterName</p>
                <p>Games: @hamster.Games</p>
                <p>Wins: @hamster.Wins</p>
                <p>Losses: @hamster.Losses</p>
            </div>
        }
    </div>
}

<div class="gallery-top">
    <h2>@headLine</h2>
</div>
<div class="battle-container">
    @foreach (var hamster in _hamster.Hamsters)
    {
       <div class="hamster-item">
            <img src="@hamster.ImgName" alt="@hamster.Name" @onclick="(() => UpdatePoints(hamster.Id))">
            <p>Name: @hamster.Name</p>
            <p>Age: @hamster.Age</p>
            <p>Favourite food: @hamster.FavFood</p>
            <p>Favourite thing: @hamster.FavThing</p>
        </div>
    }
</div>


@code {
    [Parameter]
    public int? Id { get; set; }

    string headLine = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            headLine = "Next battle";
            await _battle.GetGame((int)Id);
        }
        else
        {
            headLine = "Battle";
        }

        await _hamster.GetRandomHamsters();

    }


    async Task UpdatePoints(int winnerId)
    {
        int gameId = await _battle.AddGame();

        var loser =  _hamster.Hamsters.FirstOrDefault(h => h.Id != winnerId);
        var request1 = new HamsterGame
        {
            GameId = gameId,
            HamsterId = loser.Id,
            WinStatus = "Loser"
        };

        await _hamster.UpdateHamster(request1, loser.Id);
        await _battle.AddFighter(request1);
        
        var request2 = new HamsterGame
        {
            GameId = gameId,
            HamsterId = winnerId,
            WinStatus = "Winner"
        };
        await _hamster.UpdateHamster(request2, winnerId);
        await _battle.AddFighter(request2);

        _nav.NavigateTo($"/battle/{gameId}", true);
    }

}
